name: Deploy Backend to Mini PC

on:
    push:
        paths:
            - "backend/**"
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy via SSH
              uses: appleboy/ssh-action@v0.1.10
              with:
                  host: ${{ secrets.MINIPC_IP }}
                  username: ${{ secrets.MINIPC_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: 2222
                  script: |
                      git config --global --add safe.directory /home/fruktoz/projects/homeproject/backend
                      cd /home/fruktoz/projects/homeproject/backend  # A projekt helye a mini PC-n
                      git pull
                      docker build -t homeproject-backend .
                      docker stop homeproject-backend || true
                      docker rm homeproject-backend || true
                      docker run -d \
                        --name homeproject-backend \
                        --restart always \
                        -p 3006:3006 \
                        --env-file .env \
                        homeproject-backend
